---
import Layout from '../layouts/Layout.astro';
import Background from '../components/Background.astro';
---

<Layout title="Desarrollador y Programador Web | Ingeniero en Informática">
	<Background />
	<main>
		<section class="w-full lg:w-[780px] mx-auto py-30 items-center">
			<img src="" alt="fjerez" class="w-14 h-14 rounded-full mb-4">
			<h1 class="text-5xl font-bold gap-x-4 pb-10">Soy Felipe Jerez, Software Engineer</h1>
			<h2 class="text-2xl text-wrap">
				<span class="text-yellow-200/90">Actualmente estoy trabajando como Software Engineer en 
					<a href="https://www.ingenieriabim.cl/" class="text-orange-200/90">IngeBIM.</a>
				</span>
				<span class="text-red-200/90">De Santiago, Chile.</span>
				<span class="opacity-75">Desarrollador Full Stack con experiencia en proyectos con React y Next.js.</span>
			</h2>
		</section>
	</main>
</Layout>